h1 {
    color: wheat;
    text-align: center
}

p {
    color: wheat;
    text-align: center;
    font-size: 20px;

}


img {
border: 5px solid wheat;

}
.Enjoylife {
   text-align: center;
}


body {
background-color: black;

}


